h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

h3{
    font-size: 19px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-bottom: 5px;
    border-bottom: 2px solid rgb(146, 146, 146);
    margin-bottom: 10px;
    line-height: 25px;
}

main{
    display: flex;
    background-color: #FFF;
}

.parte-esquerda{
    margin-top: 15px;
    width: 64%;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 15px;
}

.parte-direita{
    margin-top: 15px;
    width: 30%;
    padding: 10px;
    padding-right: 25px;
    margin-bottom: 15px;
}

.anuncios{
    margin-bottom: 10px;
    text-align: justify;
}

.clima{
    text-align: justify;
}

.noticia{
    margin-top: 15px;
    text-align: justify;
    
}