header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F1FAEE;
    border-bottom: 4px solid #1D3557;
    padding: 10px 25px;
}

h1{
    font-size: 26px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #E63946;
}

a{
    color: #E63946;
    font-size: 18px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 550;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 20px;
    display: inline-flex;
    height: 35px;
    line-height: 35px;
    transition: transform 200ms linear;
}

a:hover{
    transform: scale(1.08);
}

nav{
    display:inline-flex;
}

#campo{
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: 1.5px solid #F1FAEE;
    outline: 0;
}

#botao_busca{
    display: inline-flex;
    vertical-align: middle;
    width: auto;
    height: auto;
    border: none;
    background: none;
    font-size: 18px;
    transition: transform 200ms linear;
}

#botao_busca:hover{
    cursor: pointer;
    transform: scale(1.08);
}